{:elastic-url "http://127.0.0.1:9200"
 :cron-string "*/1 * * ? * *"
 :tarjonta-service-url "https://testi.virkailija.opintopolku.fi/tarjonta-service/rest/v1/"
 :organisaatio-service-url "https://testi.virkailija.opintopolku.fi/organisaatio-service/rest/organisaatio/"
 :elastic-timeout 100000
 :tarjonta-db {:dbtype "postgresql"
               :dbname "tarjonta"
               :host <fillme>
               :port <fillme>
               :user <fillme>
               :password <fillme>}}
