{:elastic-url "http://127.0.0.1:9200"
 :cas {:username "{{kouta_indeksoija_cas_username}}"
       :password "{{kouta_indeksoija_cas_password}}"}
 :hosts {:kouta-backend "http://{{host_virkailija}}"
         :kouta-external "http://{{host_virkailija}}"
         :virkailija-internal "http://{{host_virkailija}}"
         :cas "https://{{host_cas}}"
         :ataru-hakija "https://{host_ataru_hakija}"}
 :s3-dev-disabled "true"
 :s3-bucket "opintopolku-hahtuva-koulutusinformaatio"
 :s3-region "eu-west-1"
 :queue {:priority {:name "koutaIndeksoijaPriority" :health-threshold 10}
         :fast {:name "koutaIndeksoijaFast" :health-threshold 10}
         :slow {:name "koutaIndeksoijaSlow" :health-threshold 10}
         :dlq {:name "koutaIndeksoijaDlq" :health-threshold 10}
         :notifications {:name "koutaIndeksoijaNotifications" :health-threshold 10}
         :notifications-dlq {:name "koutaIndeksoijaNotificationsDlq" :health-threshold 10}}
 :sqs-region "eu-west-1"
 :sqs-endpoint "http://localhost:4576"
 :dlq-cron-string "*/15 * * ? * *"
 :notification-dlq-cron-string "7/30 * * ? * *"
 :queueing-cron-string "*/15 * * ? * *"
 :notifier-targets "{{kouta_indeksoija_notifier_targets}}"}
