.idea/*
!.idea/codeStyleSettings.xml
dist
node_modules
npm-debug.log
target
*.iml
.nrepl-port
.lein-repl-history
test2junit
build.xml
.lein-failures
logs/
.lein-env
resources/public/buildversion.txt
dev_resources/config.edn
.localstack
pom.xml
.eastwood
.lsp
.calva
.clj-kondo
elasticdump/*