{:elastic-url "{{kouta_indeksoija_elastic7_url}}"
 :cas {:username "{{kouta_indeksoija_cas_username}}"
       :password "{{kouta_indeksoija_cas_password}}"}
 :hosts {:kouta-backend "http://{{host_virkailija}}"
         :kouta-external "http://{{host_virkailija}}"
         :virkailija-internal "http://{{host_virkailija}}"
         :cas "https://{{host_cas}}"
         :ataru-hakija "http://{{host_ataru_hakija}}"}
 :queue {:priority {:name "{{kouta_indeksoija_sqs_queue_priority}}" :health-threshold "{{kouta_indeksoija_sqs_queue_priority_health_threshold}}"}
                 :fast {:name "{{kouta_indeksoija_sqs_queue_fast}}" :health-threshold "{{kouta_indeksoija_sqs_queue_fast_health_threshold}}"}
                 :slow {:name "{{kouta_indeksoija_sqs_queue_slow}}" :health-threshold "{{kouta_indeksoija_sqs_queue_slow_health_threshold}}"}
                 :dlq {:name "{{kouta_indeksoija_sqs_queue_dlq}}" :health-threshold "{{kouta_indeksoija_sqs_queue_dlq_health_threshold}}"}
                 :notifications {:name "{{kouta_indeksoija_sqs_queue_notifications}}" :health-threshold "{{kouta_indeksoija_sqs_queue_notifications_health_threshold}}"}
                 :notifications-dlq {:name "{{kouta_indeksoija_sqs_queue_notifications_dlq}}" :health-threshold "{{kouta_indeksoija_sqs_queue_notifications_dlq_health_threshold}}"}}
 :sqs-region "{{kouta_indeksoija_sqs_region}}"
 :sqs-endpoint "{{kouta_indeksoija_sqs_endpoint}}"
 :dlq-cron-string "{{kouta_indeksoija_dlq_cron_string}}"
 :notification-dlq-cron-string "{{kouta_indeksoija_notification_dlq_cron_string}}"
 :lokalisaatio-indexing-cron-string "{{kouta_indeksoija_lokalisaatio_indexing_cron_string}}"
 :organisaatio-indexing-cron-string "{{kouta_indeksoija_organisaatio_indexing_cron_string}}"
 :queueing-cron-string "{{kouta_indeksoija_cron_string}}"
 :notifier-targets "{{kouta_indeksoija_notifier_targets}}"
 :kouta-indeksoija-kouta-cache-time-seconds "{{kouta_indeksoija_kouta_cache_time_seconds}}"
 :kouta-indeksoija-massa-kouta-cache-time-seconds "{{kouta_indeksoija_massa_kouta_cache_time_seconds}}"
 :kouta-indeksoija-organisaatio-cache-time-millis "{{kouta_indeksoija_organisaatio_cache_time_millis}}"}
