{:elastic-url "http://foo.bar:9200"
 :cas {:username "foo"
       :password "bar"}
 :hosts {:kouta-backend "http://localhost"
         :kouta-external "http://localhost"
         :virkailija-internal "http://localhost"
         :cas "http://localhost"
         :notifier-target "http://localhost"}
 :s3-dev-disabled "true"
 :s3-bucket "fake-bucket"
 :s3-region "eu-west-1"
 :queue {:priority "priority-indexing-queue"
         :fast "fast-indexing-queue"
         :slow "slow-indexing-queue"
         :dlq "indexing-dql"}
 :sqs-region ""
 :sqs-endpoint ""
 :dlq-cron-string "*/15 * * ? * *"
 :queueing-cron-string "*/15 * * ? * *"
 :notifier-disabled "true"}
