{:elastic-url "http://foo.bar:9200"
 :cas {:username "foo"
       :password "bar"}
 :hosts {:kouta-backend "http://localhost"
         :kouta-external "http://localhost"
         :virkailija-internal "http://localhost"
         :cas "http://localhost"
         :ataru-hakija "http://localhost"}
 :s3-dev-disabled "true"
 :s3-bucket "opintopolku-hahtuva-koulutusinformaatio"
 :s3-region "eu-west-1"
 :queue {:priority {:name "priority-indexing-queue" :health-threshold 10}
         :fast {:name "fast-indexing-queue" :health-threshold 10}
         :slow {:name "slow-indexing-queue" :health-threshold 10}
         :dlq {:name "indexing-dql" :health-threshold 10}
         :notifications {:name "notifications-queue" :health-threshold 10}
         :notifications-dlq {:name "notifications-dlq" :health-threshold 10}}
 :sqs-region ""
 :sqs-endpoint ""
 :dlq-cron-string "*/15 * * ? * *"
 :notification-dlq-cron-string "7/30 * * ? * *"
 :lokalisaatio-indexing-cron-string "* 0/30 * ? * *"
 :queueing-cron-string "*/15 * * ? * *"
 :notifier-targets ""}
